body {
    background-color: #026d24;
    font-family: 'Archivo Narrow', sans-serif;    
}

.container {
    background-color: #ffffff;
    max-width: 100ch;
    padding: 2ch;
    margin: auto;
}

.sitemap {
    transform: rotate(90deg);
}

a {
    color: #01d543;
    text-decoration: none;
}

a:hover {
    color: #afff5b;
}
